@model geoluxe_defect_logging.Models.DefectListPartialModels

<body>
    @using (Html.BeginForm("Test", "QC_DefectDataInput", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
    <form class="form-horizontal">
        <div class="container">
            <h5>รายการ Defect</h5>
            <div class="row">
                <div class="col-md-11">
                    <table class="table table-bordered table-responsive">
                        <thead style="font-size:smaller">
                            <tr>
                                <th>No.</th>
                                <th>Slab ID</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Location</th>
                                <th>Type</th>
                                <th>Type details</th>
                                <th>Cause</th>
                                <th>Cause details</th>
                                <th>Other details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1">
                    <div class="row">
                            <label class="control-label">สถานะของ Slab</label>
                    </div>
                    <div class="row">
                        <div action="" class="">
                            <input type="radio" name="Status" value=1> PM In<br>
                            <input type="radio" name="Status" value=2> PM Out<br>
                            <input type="radio" name="Status" value=3> Reprocess<br>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" id="submit_save" value="submit_save" class="btn btn-default" style="align-content:center">บันทึกข้อมูล</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    }
</body>