@using geoluxe_defect_logging.Models
@model DefectListModels
@{
    ViewBag.Title = "DefectList";
}

<h2>DefectList</h2>
<body>
    <div class="container">
        @using (Html.BeginForm("DefectList", "QC_DefectDataInput", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <form class="form-horizontal">
                @Html.AntiForgeryToken()

            </form>
        }
    </div>
</body>