
@{
    //ViewBag.Title = "SlabDetail";
    ViewBag.Title = ViewBag.message;
}

<body>

        <div class="container">
            <h5>DEFECT LOGGING APPLICATION</h5>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.Partial("SlabIDPartial")
            </div>
        </div>

        <div class="row">
            <p>
                <div class="col-md-6">
                    @Html.Partial("SlabDetailPartial")
                </div>
                <div class="col-md-6">
                    @Html.Partial("DefectDetailPartial")
                </div>
            </p>
        </div>

        <div class="row">
            <p>
                @Html.Partial("DefectListPartial")
            </p>
        </div>
</body>
